.banner-img2{
	background: url('/src/images/banner/mike-kononov-lFv0V3_2H6s-unsplash.jpg') no-repeat center center;
	background-size: cover;
	height: 65vh;

}
.banner-img1{
	background: url('/src/images/banner/charles-forerunner-3fPXt37X6UQ-unsplash.jpg') no-repeat center center;
	background-size: cover;
	height: 65vh;
	

}

.banner-info{
	background-color: #711972cd;
	/* background-color: rgba(255, 255, 255, 0.811); */
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.666);
	width: 500px;
	padding: 20px;
}

@media screen and (max-width:725px ) {
	.banner-info{
		width: 400px;
	}
}
@media screen and (max-width:560px ) {
	.banner-info{
		width: 300px;
	}
}
@media screen and (max-width:500px ) {
	.banner-info{
		width: 250px;
	}
}
@media screen and (max-width:350px ) {
	.banner-info{
		width: 210px;
	}
}